@using EntityLayer.Concreate
@model List<Article>

@{
    ViewData["Title"] = "ArticleListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Makaleleri</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Makale Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.ArticleId</th>
            <td>@item.ArticleTitle</td>
            <td>@(((DateTime)item.ArticleCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.ArticleStatus</td>
            <td><a href="/Article/DeleteArticle/@item.ArticleId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Article/EditArticle/@item.ArticleId" class="btn btn-warning">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Article/ArticleAdd" class="btn btn-primary"> Yeni Makale Oluştur</a>

